name: Create Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          tag="${GITHUB_REF#refs/tags/}"
          echo "Tag: $tag"
          sudo apt-get update
          sudo apt-get install -y python3-pip poppler-utils
          pip install weasyprint
          make build

      - uses: actions/create-release@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
          body: |
            Automated release
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dist/how-they-think-book-phone-edition.pdf
          asset_name: how-they-think-book-phone-edition.pdf
          asset_content_type: application/pdf
